// by: Olesa tanya 	<https://github.com/olesatanya>
// 28/6/2022
.send-confirm-modal {
	@media (max-width: 370px) {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		display: flex;
		align-items: center;
		width: 100%;
	}
	@media (min-width: 370px) {
		position: fixed;
		display: flex;
		justify-content: center;
		align-items: center;
		align-content: center;
		flex-direction: row;
		flex-wrap: wrap;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: radial-gradient(68.16% 114.2% at 50% 110.85%,#6b0ee47a 0,#33076d94 48.86%,#1e0440ad 66.87%,#0a0114 100%);
	}
	.token-panel {
		max-width: 500px;
		box-shadow: 0px 0px 114px #14002F;
		color: white;
		@media (min-width: 370px) {
			width: 100%;
		}
		.content{
			max-height: 800px;
			min-height: 400px;
			overflow-y: auto;
		}
	}
	.avartar-panel {
		padding: 0.5em 1em 0 1em;
		background-color: #210547;
		text-align: center;
		border-radius: 5px;
		margin-left: 1em;
		margin-right: 1em;
		p {
			font-size: 0.8em;
			line-height: 1em;
			width: 50px;
			overflow: hidden;
		}
	}
	.alert {
		padding: 0.2em;
		margin: 1em;
		border: 1px solid var(--color-pink);
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-content: center;
		align-items: center;
	}
}